# ─── Server ───────────────────────────────────────────────────────────────────
PORT=5000
NODE_ENV=development

# ─── Database ─────────────────────────────────────────────────────────────────
MONGO_URI=mongodb://atlas-sql-69c91cd98ac7b1c4a38f166b-wbjvdy.a.query.mongodb.net/myVirtualDatabase?ssl=true&authSource=admin

# ─── JWT ──────────────────────────────────────────────────────────────────────
JWT_SECRET=medassist_super_secret_jwt_key_change_in_production
JWT_EXPIRES_IN=7d

# ─── OpenAI ───────────────────────────────────────────────────────────────────
OPENAI_API_KEY=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

# ─── Google Speech-to-Text ────────────────────────────────────────────────────
GOOGLE_APPLICATION_CREDENTIALS=5811341d7ab8fd079b52423f8d6a0fae1151feaf

# ─── Frontend ─────────────────────────────────────────────────────────────────
FRONTEND_URL=http://localhost:5173
